.switch-wrapper {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 50px);
}

.switch {
  display: block;
  position: relative;
 	width: 100px;
  height: 50px;
  border-radius: 50px;
  background: rgba(132, 84, 223, 0.5);
  border: 1px solid;
  cursor: pointer;
  border-collapse: separate;
  box-shadow:
    inset 0px 0px 2px,
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
  -webkit-box-shadow:
    inset 0px 0px 2px,
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
  -moz-box-shadow:
    inset 0px 0px 2px,
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
  transition: background 0.4s ease-out;
}

.switch.off {
  background: rgba(139, 178, 209, 0.5);
}

#switch {
 	clip: rect(0 0 0 0);
  position: absolute;
  visibility: hidden;
}

.slider {
  height: 40px;
  width: 40px;
  background: #fff;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 53px;
  border-collapse: separate;
  box-shadow: 0px 0px 5px; 
  -webkit-box-shadow: 0px 0px 5px;
  -moz-box-shadow: 0px 0px 5px;
  transition: all 0.4s ease-out;
}

.slider.off {
  left: 5px;
} 