
.floating-button-wrapper {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 20px);
}

.btn {
  display: block;
  width: 100px;
  height: 50px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: inherit;
  background: inherit;
  border-collapse: separate;
  box-shadow:
    3px 3px 1px,
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
  -webkit-box-shadow:
    3px 3px 1px,
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
  -moz-box-shadow:
    3px 3px 1px,
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.btn:hover {
  color: rgba(255, 123, 123, 0.5);
  border-collapse: separate;
  box-shadow:
    4px 4px 1px,
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
  -webkit-box-shadow:
    4px 4px 1px,
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
  -moz-box-shadow:
    4px 4px 1px,
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
}

.btn:active {
  color: rgb(255, 126, 126);
  transform: translateY(1px);
  border-collapse: separate;
  box-shadow:
    2px 2px 1px,
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
  -webkit-box-shadow:
    2px 2px 1px,
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
  -moz-box-shadow:
    2px 2px 1px,
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
}

@media only screen and (max-width:768px) {
  .btn:active {
    transform: none;
    border-collapse: separate;
    box-shadow:
      1px 1px 1px,
      -1px -1px 0,  
      1px -1px 0,
      -1px 1px 0,
      1px 1px 0;
    -webkit-box-shadow:
      1px 1px 1px,
      -1px -1px 0,  
      1px -1px 0,
      -1px 1px 0,
      1px 1px 0;
    -moz-box-shadow:
      1px 1px 1px,
      -1px -1px 0,  
      1px -1px 0,
      -1px 1px 0,
      1px 1px 0;
  }
  .btn.active {
    color: rgb(255, 126, 126);
    transform: translateY(1px);
    border-collapse: separate;
    box-shadow:
      2px 2px 1px,
      -1px -1px 0,  
      1px -1px 0,
      -1px 1px 0,
      1px 1px 0;
    -webkit-box-shadow:
      2px 2px 1px,
      -1px -1px 0,  
      1px -1px 0,
      -1px 1px 0,
      1px 1px 0;
    -moz-box-shadow:
      2px 2px 1px,
      -1px -1px 0,  
      1px -1px 0,
      -1px 1px 0,
      1px 1px 0;
  }
}