.checkbox-comp {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 25px);
}

.checkbox-wrapper {
  display: grid;
  grid-template-rows: 50px 50px 50px;
  width: 50px;
  border: 1px solid;
  border-radius: 0.5em;
  border-collapse: separate;
  box-shadow:
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
  -webkit-box-shadow:
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
  -moz-box-shadow:
    -1px -1px 0,  
    1px -1px 0,
    -1px 1px 0,
    1px 1px 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkmark  {
  position: absolute;
  top: calc(50% - 12.5px);
  left: calc(50% - 12.5px);
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  transition: background-color 0.3s ease-out;
}

.checkmark.red {
  background-color: rgba(230, 94, 94, 0.25);
}

.checkmark.yellow {
  background-color: rgba(224, 198, 51, 0.25);
}

.checkmark.green {
  background-color: rgba(71, 231, 71, 0.25);
}

.container input:hover ~ .checkmark {
  background-color: rgba(94, 94, 117, 0.5);
}

.container input:checked ~ .checkmark.red {
  background-color: rgb(230, 94, 94);
}

.container input:checked ~ .checkmark.yellow {
  background-color: rgb(224, 198, 51);
}

.container input:checked ~ .checkmark.green {
  background-color: rgb(71, 231, 71);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.App.dark .half-circle {
  background: #1b1b1d;
}