.scorebox-comp {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20000;
}

.scorebox-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 0.2em;
}

.score {
  overflow: auto;
  transition: all 0.3s ease-out;
}