@import url('https://fonts.googleapis.com/css?family=Work+Sans');

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  background: white;
  color: black;
  min-height: 768px;
  min-width: 470px;
  height: 100%;
  width: 100%;
}

.App.dark {
  background: rgb(34, 34, 41);
  color: white;
}

h1 {
  margin: 0;
  padding: 20px;
  -webkit-text-stroke: 0.5px black;
  -webkit-text-fill-color: white;
  color: inherit;
  text-shadow:
    0.5px 0.5px 0px,
    -0.5px -0.5px 0.5px,  
    0.5px -0.5px 0,
    -0.5px 0.5px 0.5px,
    0.5px 0.5px 0;
}

.app-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 1em;
  justify-content: center;
}

.comp {
  padding: 5px;
  height: 200px;
  position: relative;
  color: inherit;
  min-height: 200px;
  box-shadow:
  2px 2px 1px,
  -1px -1px 0,  
  1px -1px 0,
  -1px 1px 0,
  1px 1px 0;
}

h3 {
  line-height: 0;
}

footer {
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr 1fr;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  color: rgb(204, 154, 97);
}
